h1, h2, h3, h4, p {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: white;
}

body, div {
    background-color: #282828;
}

#home {
    width: 100%;
    height: 100vh;
    position: relative;
/*
    background-image: url(../img/chicago_bw.jpg);
    background-size:cover;
    background-position: center;
    font-family: futura, sans-serif;
    color: #b3ddf2;
    text-align: center;
    font-size: 36px;
    padding-top: 120px;
*/
}

#dataarea {
    width: 100%;
    height: 100vh;
    position: relative;
}

#main-chart {
    position: absolute;
    right: 0px;
    bottom: 25px;
}

#maparea {
    width: 100%;
    height: 100vh;
    position: relative;
}

#mapid {
    position: absolute;
    width: 70%;
    height:90vh;
    right: 2%;
    bottom: 5vh;
}

#about {
    height: 88vh;
    width: 85%;
    display: inline-block;
    margin-left: 7.5%;
    margin-top: 70px;
}

.leaflet-popup-content-wrapper {
    opacity: 0.8;
}

.leaflet-control {
    opacity: .9;
}

.legend {
    line-height: 18px;
    color: black;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 5px;
}


